<section class="todoapp">
  <app-header
    (postTitle)="doPostData($event)"
    [allIsDone]="allIsDone"
  >
  </app-header>
  <section class="main">
    <app-list [item]="item" (ChangeStatus)="doChangeStatus($event)" (titleChanged)="doChangeStatus($event)"
      (itemRemove)="doRemoveItem($event)" *ngFor="let item of task;"></app-list>
  </section>
  <app-footer
    [notIsDonecount]="notIsDonecount"
    [isDoneCount]="isDoneCount"
    [allCount]="allCount"
    (clearComplete)="doClearAllComplete()">
  </app-footer>
</section>
